<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Список номенклатури</title>
</head>
<body style="background-color:lightcyan">
<div th:replace="header"> content here </div>

<div class="col-md-10 col-md-offset-1 panel-info">
    <!--style="margin-top:5px"-->
    <div class="panel-heading text-center"><h4>Журнал РКО</h4>
    </div>
    <div class="panel-body" style="padding: 0px; background-color: white">

        <table class="table text-center">
            <thead>
            <tr>
                <th class="text-center"> Отримувач </th>
                <th class="text-center"> Сума </th>
                <th class="text-center"> Дата </th>
                <th class="text-center"> Форма оплати </th>
                <th class="text-center"> Вид платежа </th>
                <th class="text-center"> Менеджер </th>
                <th>      </th>
                <th>      </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rko : ${rkolist}">
                <td th:text="${rko.contragent.balansName}">Red chair</td>
                <td th:text="${rko.rkoAmount}">Red chair</td>
                <td th:text="${#dates.format(rko.rkoDate,'dd-MMM-yyyy')}">Red chair</td>
                <td th:text="${rko.paymentType.description}">Red chair</td>
                <td th:text="${rko.paymentOperation.description}">Red chair</td>
                <td th:text="${rko.managerName}">Red chair</td>
                <td><a th:href="@{'/rko/edit/'+${rko.id}}">
                    <span class="glyphicon glyphicon-list"></span></a></td>
                <td><a th:href="@{'/rko/delete/'+${rko.id}}"
                       th:if="${#dates.format(#dates.createToday(),'dd-MMM-yyyy')==#dates.format(rko.rkoDate,'dd-MMM-yyyy')}">
                    <span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>