<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Загальний журнал</title>
</head>
<body style="background-color:lightcyan">
<div th:replace="header"> content here </div>

<div class="col-md-10 col-md-offset-1 panel-info">
    <!--style="margin-top:5px"-->
    <div class="panel-heading text-center"><h4>Загальний журнал</h4>
    </div>
    <div class="panel-body" style="padding: 0px; background-color: white">

        <table class="table text-center">
            <thead>
            <tr>
                <th class="text-center"> Контрагент </th>
                <th class="text-center"> Документ </th>
                <th class="text-center"> Сума документа </th>
                <th class="text-center"> Дата </th>
                <th class="text-center"> Менеджер </th>
                <th>      </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="journal : ${journallist}">
                <td th:text="${journal.contragent.balansName}">Red chair</td>
                <td th:text="${journal.journalKeyId.doc}">Red chair</td>
                <td th:text="${journal.debet}">Red chair</td>
                <td th:text="${#dates.format(journal.date,'dd-MMM-yyyy')}">Red chair</td>
                <td th:text="${journal.managerName}">Red chair</td>
                <td><a th:href="@{'/journal/edit/'+${journal.journalKeyId}}">
                    <span class="glyphicon glyphicon-list"></span></a></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>