<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Прихідна накладна</title>
</head>
<body style="background-color:lightcyan">

<div th:replace="header"> content here </div>

<div class="col-md-10 col-md-offset-1 panel-info">
    <!--style="margin-top:5px"-->
    <div class="panel-heading text-center"><h4>Прихідна накладна</h4>
    </div>


    <div class="panel-body" style="padding: 0px; background-color: white">

    <div >
        <ul class="text-danger">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
        </ul>
    </div>

    <!--///////////////////////////////ФОРМА//////////////////////////-->
    <form style="padding: 10px; alignment: center;" class="form-horizontal" action="showAllInvoices"
                    th:action="@{/supply/addinvoice}" th:object="${invoicelinedto}" method="post">

        <div class="row" >
            <div class="col-md-2 col-md-offset-1">
                <label style="text-align: right" for="f1" class="control-label">Постачальник:</label>
            </div>
            <div class="col-md-3">
                <div class="form-control" id="f1" th:text="${invoicedto.contragentName}">fffffffff</div>
                <input type="hidden" th:value="${invoicedto.invoiceId}"></input>
                <input type="hidden" th:value="${invoicedto.id}"></input>
                <input type="hidden" th:value="${invoicedto.orderDate}"></input>
                <input type="hidden" th:value="${invoicedto.contragentId}"></input>
            </div>
            <div class="col-md-2 col-md-offset-1" for="f2">
                <label style="text-align: right" id="f2" class="control-label">Дата приходу:</label>
            </div>
            <div class="col-md-3">
                <span class="form-control" type="date" th:text="${#dates.format(invoicedto.orderDate,'dd-MMM-yyyy')}">fffffffff</span>
            </div>
        </div>

        <!--"${invoicedto.orderDate}"-->


        <div class="invoicelines" style="padding-top: 15px;" th:unless="${#lists.isEmpty(invoicelinedtos)}">
        <table style="text-align: center;" class="table table-bordered table-condensed text-center">
            <thead style="text-align: center; background-color: #c5e4f4">
              <tr>
                <th width="40" style="text-align: center;" th:text="N">Date Planted</th>
                <th width="300" style="text-align: center;" th:text="Товар">Date Planted</th>
                <th width="150" style="text-align: center;" th:text="Кількість">Covered</th>
                <th width="150" style="text-align: center;" th:text="Ціна">Type</th>
                <th width="150" style="text-align: center;" th:text="Разом">Type</th>
                <th width="200" style="text-align: center;" th:text="Операція"> </th>
                <th width="40"> </th>
                <th width="40"> </th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="invoiceline,rowStat : ${invoicelinedtos}">
                <td th:text="${rowStat.count}">13/01/2011</td>
                <td th:text="${invoiceline.productName}">13/01/2011</td>
                <td th:text="${invoiceline.quantity}">yes</td>
                <td th:text="${invoiceline.price}">yes</td>
                <td>
                <output type="text" style="padding: 0px; margin: 0px" class="item"
                        th:text="${invoiceline.itemTotal}"></output>
                </td>
                <td th:text="${invoiceline.salesType.description}">Electric Heating, Turf</td>
                <td><a th:href="@{'/supply/invoiceline/edit/'+${rowStat.count}}">
                    <span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a th:href="@{'/supply/invoiceline/delete/'+${rowStat.count}}">
                    <span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            </tbody>
            </table>
        </div>

        <!--<hr style="width: 83%; color: black; height: 1px; background-color:lightgray;" />-->
        <div class="row col-md-5 col-md-offset-7">
            <p><u><strong>Загальна сума ПН: <output type="text" style="display: inline" id="result"></output></strong></u></p>
        </div>
        <div class="row">
        <div class="col-md-9">
        <a href="/supply/addline" class="btn btn-info btn-md">
            <span class="glyphicon glyphicon-plus-sign"></span> Додати позицію
        </a>
        <a href="/supply/clear" class="btn btn-info btn-md">
            <span class="glyphicon glyphicon-minus-sign"></span> Очистити накладну
        </a>
        </div>
        <div class="row col-md-3">
        <!--<hr style="width: 95%; color: black; height: 1px;" />-->

            <input  type="submit" value="Провести" class="btn btn-lg btn-primary "/>
                <input type="reset" value="Вихід" class="btn btn-lg btn-warning"/>
        </div>
        </div>
    </form>

    </div>
</div>

</body>

<script type="text/javascript">
    $(function() {
        var total=0;
        $('.item').each(function () {
            total += Number($(this).val());
        });
        $("#result").val(total);
    });

//</script>

</html>