<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/supply/selectsupplier">Прихід</a></li>
                <li><a href="/supply/selectsupplier">Замовлення</a></li>
                <li><a href="#">Розхід</a></li>
                <li><a href="#">Склад</a></li>
                <li><a href="#">Каса</a></li>
                <li><a href="/product">Товари</a></li>
                <li><a href="/product">Контрагенти</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Довідники<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Склади</a></li>
                        <li><a href="#">Каси</a></li>
                        <li><a href="/person">Люди</a></li>
                        <li><a href="#">Категорії товарів</a></li>
                        <li><a href="#">Категорії контрагентів</a></li>
                        <li><a href="/producers">Виробники</a></li>
                    </ul></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>

                    <span style="color:Tomato;">Ви залоговані як :  </span><span style="color:Tomato;" sec:authentication="name">Bob</span></li>
            </ul>
        </div>
    </div>
</nav>
</html>