
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Прихід</a></li>
                <li class="disabled"><a href="#">Замовлення</a></li>
                <li class="disabled"><a href="#">Розхід</a></li>
                <li class="disabled"><a href="#">Склад</a></li>
                <li><a href="#">Каса</a></li>
                <li><a href="#">Товари</a></li>
                <li><a href="#">Контрагенти</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Довідники<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="disabled"><a href="#">Склади</a></li>
                        <li class="disabled"><a href="#">Каси</a></li>
                        <li><a href="/person">Люди</a></li>
                        <li><a href="#">Категорії товарів</a></li>
                        <li class="disabled"><a href="#">Категорії контрагентів</a></li>
                        <li><a href="/producers">Виробники</a></li>
                    </ul></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>