<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        table, th, td {
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
        }
        th {
            text-align: right;
        }

    </style>
</head>
<body style="background-color: lightcyan">


<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-info" style="margin-top:55px ">
                <div class="panel-heading">
                    <h3>Авторизація</h3>
                </div>
                <div class="panel-body">
                        <div><span th:if="${param.logout}" class="alert alert-danger" >You have been logged out</span>
                        <span th:if="${param.error}" class="alert alert-danger" >There was an error, please try again </span>
                        </div>

                    <form name="loginForm"  th:action="@{/login}" method="post">

                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" class="form-control" name="username" value="" placeholder="Username"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Пароль</label>
                            <input type="password" id="password" class="form-control" name="password" placeholder="Password"/>
                        </div>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

                        <table style="width:100%">
                            <tbody>
                            <tr> <td rowspan="2">
                        <button type="submit" id="login" value="Log in" class="btn btn-info btn-lg">Ввійти</button>
                            </td>

                                <td class="text-right"><a href="#">Забули пароль?</a></td>
                            </tr>
                                <td class="text-right"><a href="/registration">Зареєструватись</a></td>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>