<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Producer Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
 <h2>Інформація про виробника</h2>
    <form action="#" th:action="@{/producers/new}" th:object="${producer}" method="post">
        <table>
            <tr>
                <td> Виробник:</td>
                <td><input type="text" th:field="*{fullName}" /></td>
                           <!--th:disabled="*{fullName != null}? 'true' : 'false'"/></td>-->
            </tr>
            <tr>
                <td> Категорія виробника </td>
                <td><input type="text" th:field="*{categoryProducer}" autocomplete="off"/></td>
            </tr>
            <tr>
                <td> Країна</td>

                <td><select th:object="${country}" th:field="*{id}">
                    <option th:each="country : ${countrylist}"
                            th:value="${country.id}"
                            th:text="${country.cName}">Wireframe</option>
                </select>
                </td>
                <!--<td><input type="text" th:field="*{country}" /></td>-->
            </tr>

        </table>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
