<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Форма аккаунта</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color:lightcyan">

<div th:replace="header"> content here </div>


<div class="container-fluid " style="background-color:lightcyan">
    <!--<div class="row content">-->
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-info" style="margin-top:5px ">
            <div class="panel-heading">
                <h3>Форма реєстрації нового клієнта</h3>
            </div>
            <div class="panel-body">
                <div>
                <ul class="text-danger">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
                </ul></div>

                <form class="form-horizontal" action="#" th:action="@{/registr}" th:object="${user}" method="post">

                <div class="form-group">
                    <div class="col-md-1 text-right"><label class="control-label">*Логін:</label></div>
                    <div class="col-md-4"><input type='text' class='form-control' th:field="*{username}" value='' placeholder='Username'/></div>
                    <div class= "col-md-2 text-right"><label class="control-label">*Пароль:</label></div>
                    <div class="col-md-4"><input type='password' class='form-control' name='password' placeholder='Password'/></div>
                </div>

                    <div class="form-group">
                        <div class= "col-md-1 text-right"><label class="control-label">*е-mail:</label></div>
                        <div class="col-md-4"><input class="form-control" type="text" placeholder="електронна пошта" th:field="*{email}" autocomplete="off"/></div>
                        <div class= "col-md-2 text-right"><label class="control-label">*Повторіть пароль:</label></div>
                        <div class="col-md-4"><input type='password' class='form-control' placeholder='Password' name='password1' autocomplete="off"/>
                        </div>
                    </div>

                    <hr style="width: 83%; color: black; height: 1px; background-color:lightgray;" />

                    <div class="form-group">
                    <div class= "col-md-1 text-right"><label class="control-label">*Ім'я:</label></div>
                    <div class="col-md-4"><input class="form-control" type="text" placeholder="ім'я" th:field="*{firstName}" autocomplete="off"/></div>
                    <div class= "col-md-2 text-right"><label class="control-label">Прізвище:</label></div>
                    <div class="col-md-4"><input class="form-control" type="text" placeholder="прізвище" th:field="*{lastName}" autocomplete="off"/>
                    </div>
                </div>


                <!--<div class="col-md-7">-->
                <div class="form-group">
                    <div class= "col-md-1 text-right"><label class="control-label">Область:</label></div>
                    <div class="col-md-4"><input class="form-control" type="text" placeholder="область" th:field="*{region}" autocomplete="off"/></div>
                    <div class= "col-md-2 text-right"><label class="control-label">*Місто:</label></div>
                    <div class="col-md-4"><input class="form-control" type="text" placeholder="місто" th:field="*{city}" autocomplete="off"/></div>
                </div>


                <div class="form-group">
                    <div class= "col-md-1 text-right"><label class="control-label">Адреса:</label></div>
                    <div class="col-md-4">
                        <textarea class="form-control" row="5" placeholder="район, населений пункт..." th:field="*{street}" autocomplete="off"/></div>
                    <div class= "col-md-2 text-right"><label class="control-label">Адреса доставки:</label></div>
                    <div class="col-md-4">
                        <textarea class="form-control" row="5" placeholder="служба доставки, номер відділення" th:field="*{comment}" autocomplete="off"/></div>
                </div>
                <div class="form-group">
                    <div class= "col-md-1 text-right"><label class="control-label">Телефон:</label></div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" placeholder="номер телефона" th:field="*{phone}" autocomplete="off"/></div>

                    <div class="checkbox col-md-1">
                        <label><input type="checkbox" th:field="*{viber}">Viber</input></label>
                    </div>

                    <!--</div>-->
                    <!--<div class= "col-md-2 text-right"><label class="control-label">еmail №2:</label></div>-->
                    <!--<div class="col-md-4">-->
                        <!--<input class="form-control" type="text" placeholder="додаткова електронна пошта" th:field="*{email2}" autocomplete="off"/></div>-->
                </div>


                <hr style="width: 83%; color: black; height: 1px; background-color:lightgray;" />



                <div class= "col-md-9 text-right">
                    <input type="submit" value="Підтвердити" class="btn btn-primary btn-lg "/></div>
                <div class= "col-md-1 text-right">
                    <input type="reset" value="Відмінити" class="btn btn-warning btn-lg "/>
                </div>
            </form>

        </div></div>
    </div>
</div>
</body>
</html>
